{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "jsxsingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "braketSameLine": true,
  "singleQuote": true
}
